/*
 * Empty Stylesheet file.
 */

.painel{
       -fx-background-color: linear-gradient(to  right bottom, #ee7e0e, #e4ad7a);   

}
.btn-principal{
   -fx-background-color: transparent ; 
  -fx-cursor: hand;
}
.btn-principal:hover{
   -fx-background-color:#e4ad7a;     
}


.table-alunos{
   -fx-border-color: #000;
   -fx-border-width: 1px;

   
}


.table-alunos .column-header-background{
     -fx-background-color: linear-gradient(to  right bottom, #ee7e0e, #e4ad7a);   
     -fx-padding: 10px; 
     
}
.table-alunos .column-header, filter{
       -fx-background-color: transparent;
}

.btn-pesquisar{
    
     -fx-background-color: #bb0d0d;
    -fx-border-radius: 20px;
    -fx-fill: #ffffff;
     -fx-cursor: hand;
}


